.carousel-container {
  margin-top: 7%;
}
.carousel-container h4 {
  font: 3rem "joan";
}
.carousel {
  margin-top: 3%;
  cursor: grab;
  overflow: hidden;
}
.inner-carousel {
  display: flex;
  gap: 2.5%;
  width: 90vw;
  /* border: 1px solid green; */
}

.item {
  min-width: 20rem;
  background: rgb(53, 5, 72);
  box-shadow: 0 8px 15px 0 rgba(151, 95, 197, 0.37);
  padding: 0.7rem;
  border-radius: 1rem;
  padding-bottom: 1.5rem;
}

.item img {
  width: 100%;
  border-radius: 0.5rem;
  pointer-events: none;
}
.data-div {
  margin-top: 7%;
  /* border: 1px solid green; */
}
.data-div p {
  font: 1.5rem "RSRegular";
  margin-left: 2%;
}
.data-div span {
  float: right;
  font-size: 1.25rem;
  color: var(--purple-diff);
  border: 1px solid var(--purple-diff);
  padding: 0.25rem 0.7rem;
  border-radius: 0.25rem;
}

@media screen and (max-width: 720px) {
  .carousel-container {
    margin-top: 20%;
  }
  .carousel {
    margin-top: 7%;
  }
  .inner-carousel {
    gap: 5%;
  }
  .item {
    min-width: 18rem;
    padding-bottom: 1.25rem;
  }
  .data-div p {
    font-size: 1.35rem;
  }
  .data-div span{
    font-size: 1rem;
  }
}
